body {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    background-color: rgb(215, 215, 215);
    height: 1000px;
}

.header {
    height: 100px;
    text-align: center;
    background-color: black;
    padding: 20px;
    color: white;
}

.header h1 {
    margin: 10px;
}

.header p {
    margin: 10px;
}

.about {
    text-align: center;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.about img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.projects {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    padding: 40px 75px;
    justify-content: space-around;
    align-items: start;
}

.project-card {
    width: 250px;
    height: fit-content;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    transition: all 0.2s ease;
}

.project-card:hover {
    padding: 30px;
    margin: -10px;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.field-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 300px;
    align-items: center;
}

.field-container input {
    margin: 5px;
    width: 300px;
    height: 20px;
}

.field-container textarea {
    margin: 5px;
    width: 300px;
    height: 150px;

}

.field-container button {
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    width: 300px;
}

.footer {
    text-align: center;
    padding: 5px;
    color: white;
    background-color: black;
}